<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="text-center mt-5"> To Do List </h1>
      <img 
      src="https://gallery.yopriceville.com/var/resizes/Free-Clipart-Pictures/Sun-and-Moon-PNG/Red_Moon_PNG_Clip_Art_Image.png?m=1513482901">
    </div>
  </div>

  <div class="row">
    <div class="col text-center mt-5 mb-5">
      <input [(ngModel)]="todoInput" class="mx-2 text-center input1" 
      (keyup.enter)="createTodo()" placeholder="Next thing to do?">
    </div>
  </div>

  <div class="text-center border chore" *ngFor="let chore of thingsToDo">
    <input type="checkbox" style="float:left; margin-top:30px"> {{ chore }}
    <i class="fas fa-rocket edit" (click)="editTodo(chore)"></i>
    <i class="far fa-times-circle delete" style="float:right; margin-top:5px" (click)="deleteTodo(chore) "></i>
  </div>
</div>


